html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html,
body,
ul,
li {
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  outline: none;
}

.nav-list {
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  overflow: hidden;
  transition: all .3s ease;
  z-index: 999;
  .nav-con {
    max-width: 970px;
    margin: 0 auto;
    .nav-item {
      width: 8em;
      height: 45px;
      float: left;
      font-size: 14px;
      color: #ffffff;
      text-align: center;
      line-height: 45px;
    }
  }
}

.nav-bg {
  width: 100%;
  height: 30rem;
  background-color: peru;
  background: url('../img/nav-bg.jpg') center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.per-avatar {
  font-size: 62.5%;
  font-size: 10px;
  position: absolute;
  top: 20em;
  left: 50%;
  margin-left: -11em;
  border-radius: 50%;
  height: 20em;
  width: 20em;
  background-color: red;
  overflow: hidden;
  background: url('https://avatars2.githubusercontent.com/u/13299413?s=460&v=4') center no-repeat;
  background-size: contain;
  transition: transform 0.3s ease;
  z-index: 9999;
}

.name-con {
  font-size: 10px;
  font-size: 62.5%;
  height: 21rem;
  width: 100%;
  .per-con {
    margin-left: -2.5em;
    padding-top: 13em;
    text-align: center;
  }
  .per-avatar {
    position: absolute;
    top: 20em;
    left: 50%;
    margin-left: -11em;
    border-radius: 50%;
    height: 20em;
    width: 20em;
    background-color: red;
    overflow: hidden;
    background: url('https://avatars2.githubusercontent.com/u/13299413?s=460&v=4') center no-repeat;
    background-size: contain;
    transition: transform 0.3s ease;
  }
  .per-name {
    font-size: 26px;
    display: block;
  }
  h5 {
    font-size: 16px;
    margin: 0.625em 0;
  }
  .tag-con {
    .tag {
      font-size: 5em;
      margin: 0 .3em;
    }
  }
}

.title-con {
  width: 100%;
  font-size: 10px;
  margin-bottom: 1rem;
  .title {
    font-size: 22px;
    display: inline-block;
    padding-right: 0em;
    border-bottom: 2px solid rgb(43, 121, 211);
    transition: padding-right .3s ease-in-out
  }
}

.per-introduce {
  &:hover {
    .title-con .title {
      padding-right: 1em;
    }
  }
}

.con-section {
  margin-bottom: 2rem;
  font-size: 10px;
  font-size: 62.5%;
  width: 100%;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}

.per-introduce {
  .content {
    font-size: 16px;
    text-indent: 2em;
  }
}

.pro-introduce {
  overflow: hidden;
  a:focus {
    .pro-bg {
      box-shadow: 0px 1px 4px 2px #efefef;
    }
  }
  &:hover {
    .title-con .title {
      padding-right: 1em;
    }
  }
  .pro-bg {
    background-color: #f3f3f3;
    border: 1px solid #e6e6e6;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow .3s ease;
    &:hover {
      box-shadow: 0px 1px 4px 2px #efefef;
    }
  }
  .pc-pro,
  .moblie-pro {
    overflow: hidden;
    .pro-con {
      box-sizing: border-box;
      padding: 1em;
      text-align: center;
      float: left;
      .pro-img-con {
        overflow: hidden;
        img {
          width: 100%;
          max-width: 100%;
          min-height: 15em;
          transition: height .3s ease;
        }
      }
      span {
        margin: .1em 0;
      }
      .pro-info {
        font-size: 18px;
        display: block;
      }
      .pro-time {
        display: block;
        font-size: 12px;
      }
    }
  }
  .pc-pro {
    .pro-con {
      width: 33.33%;
      width: calc(100% / 3);
    }
  }
  // 移动端展示
  .moblie-pro {
    .pro-con {
      width: 20%;
      width: calc(100% / 5);
    }
  }
}

.readed-books {
  position: relative;
  &:hover {
    .title-con .title {
      padding-right: 1em;
    }
  }
  .book-box {
    height: auto;
    overflow: hidden;
    .book-row {
      overflow: hidden;
    }
    .book-con {
      width: 20%;
      width: calc(100% / 5);
      padding: 1em;
      box-sizing: border-box;
      text-align: center;
      float: left;
      .book-bg {
        padding: 1em;
        background-color: #f3f3f3;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        transition: box-shadow .3s ease;
        &:hover {
          box-shadow: 0px 1px 4px 2px #efefef;
        }
        .book-img {
          width: 100%;
          // max-width: 100%;
          height: auto;
          img {
            width: 100%;
            max-width: 100%;
            min-height: 15em;
            transition: height .3s ease;
          }
        }
      }
      .book-name {
        font-size: 14px;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: .5em .5em 0 .5em;
      }
      .read-time {
        display: block;
        font-size: 12px;
      }
    }
  }
  .more-con {
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    .show-more {
      padding: 1.5em;
      position: relative;
      left: -10px;
      color: #1a98e9;
      cursor: pointer;
      font-size: 18px;
      &:after {
        content: ' ';
        width: 9px;
        height: 9px;
        display: inline-block;
        position: relative;
        left: 10px;
        top: -3px;
        border-top: 2px solid #1a98e9;
        border-left: 2px solid #1a98e9;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
    }
    .blur-con {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 16em;
      position: absolute;
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0, #fff 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, #fff 100%);
    }
  }
}

footer {
  width: 100%;
  height: 15rem;
  background-color: #494747;
  text-align: center;
  .website-info {
    bottom: 2em;
    margin: 0 auto;
    font-size: 14px;
    color: #ffffff;
    padding-top: 5em;
    span {
      margin: .5em;
      display: block;
    }
    .icp {
      font-size: 12px;
    }
  }
}