<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tommi_Max Page</title>
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./plugins/toast/toast.css">
  <!-- <link rel="stylesheet" type="text/css" href="./font/iconfont.css"> -->
  <!-- <link href='https://fonts.font.im/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
  <style>
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Open Sans Regular'), local('OpenSans-Regular'), url(./font/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
    }
  </style>
</head>

<body>
  <nav class="nav-list" id="navList">
    <ul class="nav-con">
      <a href="https://kunkuntang.github.io">
        <li class="nav-item">个人博客</li>
      </a>
      <a href="https://github.com/kunkuntang">
        <li class="nav-item">开源项目</li>
      </a>
      <a href="https://lenkuntang.cn/personalResume.pdf">
        <li class="nav-item">个人简历</li>
      </a>
    </ul>
  </nav>
  <div class="nav-bg"></div>
  <div class="name-con con-section">
    <div class="per-con">
      <div class="per-avatar" id="perAvatar"></div>
      <span class="per-name">Tommi_Max</span>
      <h5>Less is More</h5>
      <div class="tag-con">
        <a href="https://github.com/kunkuntang" class="iconfont icon-github tag"></a>
        <a href="https://kunkuntang.github.io" class="iconfont icon-blogo tag"></a>
      </div>
    </div>
  </div>
  <div class="per-introduce con-section">
    <div class="title-con">
      <span class="title">个人简介</span>
    </div>
    <div class="content">
      我是CubeSuger方糖，是一名前端开发工程师。我在大一的时候进入了学校里专门搞技术的社团——<a href="http://xingkong.gqt.gcu.edu.cn/"><i>星空学生创新中心</i></a>，然后在师兄的带领下进入前端领域，并负责社团里部分产品的网站页面的开发与维护。从大学那时候刚开始学习前端到现在已经有6个年头，对前端和后端都有一定的了解。
    </div>
    <div class="content">
      前端方面我熟悉三大基础（HTML，CSS，Javascript），框架上使用过Vue和React，对Es6和Typescript有一定的了解。学习、了解、使用过的技术有，TypeScript，Node.js，MongoDB，Java等，写过Vue.js和React。玩过webpack，grunt，gulp，目前正在研究TypeScript，单元测试，SSR，有机会希望可以与大家多多交流学习😊。
    </div>
    <div class="content">
      后端方面了解过Node.js和Java，使用过Express、Koa、Think.js和Egg.js，数据库没有涉及太深，只会简单的CURD，使用过MongoDB、MySQL。
    </div>
  </div>
  <div class="pro-introduce con-section">
    <div class="title-con">
      <span class="title">作品分享</span>
    </div>
    <div class="pc-pro">
      <% _.forEach(pcPro, function(pro) { %>
        <a href="<%- pro.url %>">
          <div class="pro-con">
            <div class="pro-bg">
              <div class="pro-img-con">
                <img src="<%- pro.imgSrc %>" alt="<%- pro.title %>">
              </div>
              <span class="pro-info"><%- pro.title %></span>
              <span class="pro-time"><%- pro.time %></span>
            </div>
          </div>
        </a>
        <% }); %>
    </div>
    <div class="moblie-pro">
      <% _.forEach(mobPro, function(pro) { %>
        <a href="<%- pro.url %>">
          <div class="pro-con">
            <div class="pro-bg">
              <div class="pro-img-con">
                <img src="<%- pro.imgSrc %>" alt="<%- pro.title %>">
              </div>
              <span class="pro-info"><%- pro.title %></span>
              <span class="pro-time"><%- pro.time %></span>
            </div>
          </div>
        </a>
        <% }); %>
    </div>
  </div>
  <div class="readed-books con-section">
    <div class="title-con">
      <span class="title">阅读书籍推荐</span>
    </div>
    <div class="book-box" id="bookBox">
      <% _.forEach(bookRow, function(row) { %>
        <div class="book-row">
          <% _.forEach(row, function(book) { %>
            <div class="book-con">
              <a href="<%- book.bUrl %>">
                <div class="book-bg">
                  <div class="book-img">
                    <img src="<%- book.imgSrc %>" alt="<%- book.name %>">
                  </div>
                  <div class="book-name">
                    <%- book.name %>
                  </div>
                  <span class="read-time">阅读时间：<%- book.rTime %></span>
                </div>
              </a>
            </div>
            <% }) %>
        </div>
        <% }) %>
    </div>
  
    <% if(bookRow.length >2) { %>
      <div class="more-con" id="moreCon">
        <div class="blur-con"></div>
        <div id="showMoreBtn" class="show-more">展开更多</div>
      </div>
      <script>
        document.getElementById('bookBox').style.height = '50rem';
      </script>
      <% } %>
  </div>
  <footer>
    <div class="website-info">
      <!-- <span class="friendly-link">友情链接</span>
      <div class="friendly-link-con">
        <a href="https://xingkong.gqt.gcu.edu.cn/"><img style="width: 100px;" src="./img/xingkong.png" alt="organization"></a>
        <a href="https://www.hoolinks.com/"><img style="width: 100px;" src="./img/hoolinks.png" alt="organization"></a>
      </div> -->
      <span>Copyright &#169; 2015-2018 &nbsp;&nbsp; Tommi_Max. &nbsp;&nbsp; All rights reserved</span>
      <a href="http://www.beian.miit.gov.cn"><span class="icp">粤ICP备16094784号</span></a>
    </div>
  </footer>
  <script>
    // 是否使用 service worker
    window.SW_FALLBACK = false;

    window.addEventListener('load', function() {
      var script = document.createElement('script');
      var firstScript = document.getElementsByTagName('script')[0];
      script.type = 'text/javascript';
      script.async = true;
      script.src = '/sw-register.js?v=' + Date.now();
      firstScript.parentNode.insertBefore(script, firstScript);
      firstScript.onload = function() {
        if (navigator.serviceWorker && window.SW_FALLBACK) {
          // getRegistration 的参数为 sw 的 scope 的值
          navigator.serviceWorker.getRegistration('/').then(function(reg) {
            reg && reg.unregister();
            // 清理留下来的 cache 缓存
            window.caches && caches.keys && caches.keys().then(function(keys) {
              keys.forEach(function(key) {
                caches.delete(key);
              });
            });
          })
        }
      }
    })
  </script>
  <script src="./js/index.js"></script>
  <script src="./plugins/toast/toast.js"></script>
  <!-- <script>
    window.addEventListener('load', function() {
      var csTip = new CSugerTips()
    })
  </script> -->
</body>

</html>